<div class="row">
	<div class="large-12 columns">
		<h3>Create an Article</h3>

		<% unless @article.errors.empty? %>
			<h3><%= pluralize @article.errors.size, "error" %> found:</h3>
			<ul style="margin-left:30px">
			<% @article.errors.full_messages.each do |e| %>
				<li><span><%= e %></span></li>
			<% end %>
			</ul>
		<% end %>

		<%= form_for @article do |f| %>
			<div>
				<%= f.label :title %>
				<%= f.text_field :title %>
			</div>

			<div>
				<%= f.label :content %>
				<%= f.text_area :content, style:"height:300px" %>
			</div>

			<div>
				<%= f.submit "Create Article", class:"button" %> 
				or 
				<%= link_to "Back to articles", root_path %>
			</div>
		<% end %>
	</div>
</div>