<div class="row">
	<div class="large-12 columns">
		<h3>Create an Article</h3>

		<% unless @article.errors.empty? %>
			<h4><%= pluralize @article.errors.size, "error" %> found:</h4>
			<ul style="margin-left:50px">
			<% @article.errors.full_messages.each do |e| %>
				<li><span style="color:red"><%= e %></span></li>
			<% end %>
			</ul>
		<% end %>

		<%= form_for @article do |f| %>
			<div>
				<%= f.label :title %>
				<%= f.text_field :title %>
			</div>

			<div>
				<%= f.label :content %>
				<%= f.text_area :content, rows: 5, cols: 5 %>
			</div>

			<div>
				<%= f.submit "Create Article", class:"button" %>
			</div>
		<% end %>
	</div>
</div>