<% if can? :manage, @article %>
	<div class="row">
		<div class="large-12 columns">
			<div>
				<%= link_to "Edit this article", edit_article_path(@article), class:"small button" %> 
				<%= link_to "Remove this article", @article, method: :delete, confirm: "Remove this article?", class:"small alert button" %>
			</div>
		</div>
	</div>

	<hr />
<% end %>

<div class="row">
	<div class="large-12 columns">
		<h4>Title: <%= @article.title %></h4>
		<p> Posted by <%= @article.user.email %> </p>

		<div>
			<%= markdown @article.content %>
		</div>

		<div>
			<%= link_to "Back to articles", root_path %>
		</div>
	</div>
</div>

<div class="row" style="margin-top:20px">
	<div class="large-12 columns">
		<h4>View <%= pluralize @article.comments.size, "comment" %></h4>
		<div id="comments">
			<% @article.comments.each do |comment| %>
				<div class="comment">
					<% if can? :destroy, comment %>
							<%= link_to "remove comment", [@article, comment], method: :delete, class:"small alert button", style:"float:right", confirm:"Remove this comment?" %>
					<% end %>
					<p style="font-size:18px;float:left">
						<% if comment.user.provider.present? %>
							<%= image_tag comment.user.image %>
						<% else %>
							<%= g(comment.user) %>
						<% end %>
					</p>
					<p style="font-size:18px">
						<%= comment.user.email %> <br />
						<span style="font-size:15px">
							<%= distance_of_time_in_words(Time.now, comment.created_at) %> ago
						</span>
					</p>
					<div style="clear:both"></div>
					<p><%= markdown comment.message %></p>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="row" style="margin-top:20px">
	<div class="large-12 columns">
		<% if user_signed_in? %>
			<%= form_for [@article, Comment.new] do |f| %>
				<div>
					<%= f.text_area :message, rows: 5, cols: 5 %>
				</div>

				<div>
					<%= f.submit "Add Comment", class:"button" %>
				</div>
			<% end %>
		<% else %>
			<div>
				<%= link_to "Sign in to add comments", new_user_session_path %>
			</div>
		<% end %>
	</div>
</div>